body, html {
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    margin-top: 20px;
}

.top-menu {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu a{
    text-decoration: none;
    color: black;
}

.top-menu span {
    font-size: 24px;
    font-family: Inter;
}

.login-link > img{
    margin: 0;
}

.search-container{
    margin-left: 50px;
    display: table;
}

.search-child{
    display: table-cell;
    vertical-align: middle;
    flex: none;
}

.search-bar {
    width: 300px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;

}

.search-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    align-self: center;
    margin-left: 10px;
}

.menu-items {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px;
}

.menu-items a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-family: Inter;
}

.login-area {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.login-area a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    width: 40px;
}

.login-area img {
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
}

.login-area span {
    font-size: medium;
}

.page-name{
    text-align: center;
    font-size: 300%;
    font-weight: 100;
    font-family: Inter;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}

.current-location{
    text-align: center;
    font-weight: 100;
    font-family: Inter;
    color: gray;
    margin-top: 0;
}


.info_1{
    font-size: 16px;
}
.info_2{
    font-size: 12px;
    color: gray;
}


footer {
    flex-direction: row;
    padding: 20px;
}

.footer-info {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.footer-Customer-Service{
    width: 200px;
    height: 80px;
    position: absolute; 
    margin-top: 10px;
    left: 12%; 


}

.footer-button-box{
    cursor: pointer;
    width: 220px;
    height: 55px;
}

.footer-button-box > a{
    text-decoration: none;
}

.footer-button-box > a > img{
    width: 93px;
    height: 42px;
    padding: 5px;
}

/**/
.info-section {
    background-color: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
    
        display: flex;
        flex-wrap: wrap; /* 넘칠 경우 다음 줄로 이동 */
        justify-content: space-around; /* 박스 간의 간격을 균일하게 설정 */
        gap: 10px; /* 박스 간의 간격 */
        padding: 20px;
        border: 1px solid rgb(212, 211, 211);
        margin: 0 auto;
        max-width: 3000px; /* 최대 너비 설정 */
    
}

.info-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.info-box h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.info-box p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.section {
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 20px;
}

.review-section{
    background-color: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-section img{
    width: 300px;
    height: 400px;
    object-fit: cover; /* 이미지를 비율 유지하며 잘림 없이 채움 */
    border-radius: 5px; /* 이미지에도 둥근 모서리 적용 */
}
.review-section h4{
    width: 300px; /* 아이템 이름의 최대 너비 */
    overflow-wrap: break-word; /* 긴 단어에서 줄 바꿈 */
}
.review-section p{
    color : rgb(40, 39, 39);
    font-size: 16px;
}
.cart-section{
    background-color: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-section img{
    width: 300px;
    height: 400px;
    object-fit: cover; /* 이미지를 비율 유지하며 잘림 없이 채움 */
    border-radius: 5px; /* 이미지에도 둥근 모서리 적용 */
}

.cart-section h4{
    width: 300px; /* 아이템 이름의 최대 너비 */
    overflow-wrap: break-word; /* 긴 단어에서 줄 바꿈 */
}
.cart-section p{
    color : rgb(40, 39, 39);
    font-size: 16px;
}

/* 모바일 : ~768px */
/* 태블릿 : 768px ~ 1024px */
/* 모니터 : 1024px~ */

/* 갤럭시탭 S9 FE을 위한 미디어 쿼리 */
@media (min-width: 768px) and (max-width: 1024px) {
    /* header 부분의 요소들에 대한 스타일링 */
    .top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-menu .login-link img {
        width: auto;
    }

    .search-container {
        flex-grow: 1;
        margin: 0 20px;
    }


    .search-bar {
        width: 100%;
        padding: 10px;
    }

    .login-area {
        display: flex;
        gap: 10px;
    }
}


@media (max-width: 820px){
    .footer-Customer-Service {
        display: none;
    }
}
/* 더 작은 화면 크기에 대한 미디어 쿼리 */
@media (max-width: 768px) {
    .search-container, .login-area {
        display: none; 
    }

    .top-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .top-menu .login-link {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .top-menu .login-link img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 60px;
        width: auto;
    }
}
